{% extends 'base.html.twig' %}

{% block title %}TMX: {{ app.request.get('search') }}{% endblock %}

{% block body %}

    <form method="get">
        <div class="row">
            <div class="col-7">
                <label for="search"><strong>Text</strong></label>
                <input type="search" class="form-control" name="search" id="search" value="{{ app.request.get('search') }}">
            </div>
            <div class="col-2">
                <label for="max_results"><strong>Options</strong></label>
                <select class="form-select" name="option" id="option">
                    <option value="1" {{ app.request.get('option') == '1' ? 'selected="selected"' : '' }}>Both</option>
                    <option value="2" {{ app.request.get('option') == '2' ? 'selected="selected"' : '' }}>Original</option>
                    <option value="3" {{ app.request.get('option') == '3' ? 'selected="selected"' : '' }}>Translated</option>
                </select>
            </div>
            <div class="col-2">
                <label for="max_results"><strong>Max Results</strong></label>
                <input type="text" class="form-control" name="max_results" id="max_results" value="{{ app.request.get('max_results', 100) }}">
            </div>
            <div class="col-1">
                <label for="button">&nbsp;</label><br/>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <br><br>

    <h3>Results {{ translations|length }}</h3>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th width="5%">File</th>
                <th width="48%">Original</th>
                <th width="47%">Translated</th>
            </tr>
        </thead>
        <tbody>
            {% for text in translations %}
            <tr>
                <td class="text-primary"><small>{{ text.filename }}</small></td>
                <td>{{ highlight(text.original, app.request.get('search'))|raw }}</td>
                <td>{{ text.translated }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">
                    {{ app.request.get('search') ? 'No translations found for search query' : 'No translations, search for some!' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br/><br/><br/><br/>

{% endblock %}
